*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

:root{
    --black: #151515;
    --white: #ffffff;
    --main:  #F9E2AF;
    --grey:  #505050;
    --footer: #0F1312;
    --btn: #579BB1;
}


body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    background-color: var(--white);
    font-family: 'Inter', sans-serif, Times, serif;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}


html {
    overflow: hidden;
}

body{
    overflow-y: auto;
}

/*** Header ***/

header{
    padding: 2rem;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-menu{
    display: flex;
    flex-direction: row;
}

.nav-item{
    list-style-type: none;
}

.navbar a{
    margin: 1rem;
    font-weight: 500;
    text-decoration: none;
    color: var(--grey);
}

.navbar a.active{
    color: var(--black);
    font-weight: bold;
    border-bottom: 2px solid var(--black);
    padding-bottom: 2px;
}

.site-name{
    text-decoration: none;
    font-size: 2rem;
    font-weight: 800;
    color: var(--black);
}

.profileImg{
    height: 1.5rem;
}

.hamburger{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: black;
}

/*** Footer ***/

.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    color: var(--white);
    background-color: black;
    font-weight: 700;
    padding: 1.5rem;
    text-align: center;
    font-size: 1.2rem;
}

/*** Home  ***/

.home-container{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.46), rgba(0, 0, 0, 0.46)), url("./assets/home-img.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: var(--white);
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.home-intro {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--white);
    text-shadow: 1px 1px 2px rgb(85, 85, 85);
}

.hash-tag {
    color: var(--main);
    text-shadow: 1px 6px 4px var(--black);
    font-weight: 800;
}

.intro-title{
    font-size: 3em;
    margin-bottom: 1rem;
}

.intro-detail{
    font-size: 1.5em;
    line-height: 2em;
}

.home-container a{
    display: inline-block;
    text-decoration: none;
    background-color: var(--main);
    padding: 1rem 6rem;
    border-radius: 5px;
    color: var(--black);
    font-weight: 600;
    margin-top: 3rem;
    font-size: 1.2em;
}

.home a:hover {
    transform: translate(1px, 1px);
}

/*** Vans ***/

.vans{
    background-color: var(--main);
    overflow-y: scroll;
    height: 100vh;
    padding: 1rem;
    padding-bottom: 13rem;
}

.van-title {
    margin: 1rem;
    text-align: center;
    color: var(--black);
}

.van-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.van-container{
    padding: 1rem;
    max-width: 30%;
}

.van-img {
    max-height: 70%;
    border-radius: 5%;
}

.van-name{
    padding: 1rem 5rem;
}

.van-container a {
    text-decoration: none;
    text-align: center;
    color: var(--black);
    margin-top: 1rem;
}

.van-container a:hover {
    color: var(--black);
    text-decoration: underline;
    font-weight: 600;
}

.filters{
    display: flex;
    justify-content: flex-end;
}

.filters button{
    margin-right: 1rem;
    padding: 0 1rem;
    background-color: transparent;
    border: 2px solid var(--grey);
    border-radius: 7px;
    font-weight: 600;
    font-size: 0.9em;
}

.filters button:hover{
    background-color: var(--btn);
    color: var(--white);
    border:none
}

.vans-container a{
    text-decoration: none;
    color: var(--black);
}

.vans-container a:hover{
    font-weight: 600;
    text-decoration: underline;
}

/*** Van detail ***/
.van-detail-container{
    background-color: var(--white);
    height: 100vh;
    padding: 2rem;
}
.van-detail {
    max-width: 70%;
    margin: 1rem auto;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.van-detail-img {
    width: 100%;
    height: auto;
    border-radius: 5%;
    max-width: 50%;
}

.van-detail-intro{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.van-price{
    color: var(--black);
    margin-bottom: 2rem;
}

.van-detail-desc {
    max-width: 70%;
    text-align: justify;
}

.van-detail a{
    margin-top: 3rem;
    color: var(--white);
    font-size: 1.2em;
    font-weight: 600;
    background-color: var(--btn);
    padding: 1rem 6rem;
    border-radius: 5px;
    text-decoration: none;
}

.van-detail a:hover{
    transform: translate(1px, 1px);
}

.van-detail-container .back-button{
    text-decoration: none;
    color: var(--black);
}

/*** Host-page ***/

.host-page {
    background-color: var(--main);
    padding: 2rem;
    height: 100vh;
}

.host-nav {
    display: flex;
    margin-bottom: 1rem;
}

.host-nav a {
    text-decoration: none;
    color: var(--grey);
    font-weight: 500;
    margin: 5px 20px;
}

.host-nav a.active{
    color: var(--black);
    font-weight: bold;
    border-bottom: 2px solid var(--black);
}

/*** Host's Van ***/

.host-pages-title{
    margin-left: 1rem;
}

.host-van-list{
    margin: 1rem 1rem;
}

.listed-van{
    display: flex;
    margin-bottom: 1rem;
    max-width: 50%;
    background-color: var(--white);
    padding: 1rem;
    border-radius: 10px;
}

.host-van-img{
    max-height: 15vh;
}

.host-van-list a {
    text-decoration: none;
    color: var(--black);
}

.listed-van-info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 2rem;
}

/*** Host's Van detail ***/

.van-info-links a {
    text-decoration: none;
    color: var(--grey);
    font-weight: 500;
    margin: 5px 20px;
}

.van-info-links a.active {
    color: var(--black);
    font-weight: bold;
    border-bottom: 2px solid var(--black);
}

section a{
    text-decoration: none;
    color: var(--black);
}

.back-button:hover{
    font-weight: bold;
}

.host-van-info-container{  
    max-width: 50%;
    background-color: var(--white);
    padding: 1rem;
    border-radius: 10px;
    margin-top: 1rem;
}
.host-van-detail{
    display: flex;
    margin: 1rem;
}

.host-van-detail-img{
    max-height: 20vh;
}

.host-van-info{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 1rem;
}

.info-title {
    font-weight: bold;
    color: var(--black);
}

.van-info{
    max-width: 70%;
    margin: 1rem;
    line-height: 2;
    text-align: justify;
}

.host-van-info-photo{
    max-height: 15vh;
    margin:1rem;
    border-radius: 10px;
}

.van-into-price{
    margin: 2rem 1rem;
    font-size: 1.2em;
    font-weight: 600;
}

.van-into-price span{
    font-weight: 400;
    font-size: 1rem;
}

/*** About ***/

.about-page{
    background-color: var(--main);
    overflow-y: scroll;
    height: 100vh;
    padding-bottom: 13rem;
}

.about-info{
    margin: 0 auto;
    max-width: 50%;
    text-align: center;
    line-height: 1.7rem;
    padding: 3rem;
}

.about-heading{
    margin-bottom: 1rem ;
}

.other-heading{
    margin: 2rem 0 1rem;
}

.about-heading,
.other-heading {
    color: var(--btn);
}

.contact-us{
    margin-top: 1rem;
    font-weight: 600;
}

/*** Page not found ***/

.page-not-found-container{
    background-color: var(--main);
    height: 100vh;
    text-align: center;
}

.page-not-found{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.not-found-error{
    font-size: 10em;
}

.not-found-title{
    font-size: 3em;
}

.not-found-msg{
    margin-bottom: 2rem;
    color: var(--grey);
}

.page-not-found-container a{
    text-decoration: none;
    color: var(--white);
}

.go-home-btn{
    background-color: var(--black);
    border: 1px solid var(--black);
    border-radius: 5px;
    padding: 1rem 3rem;
}

/*** Login ***/

.login-page{
    background-color: var(--main);
    height: 100vh;
}

.login-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 10%
}

.login-form{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 30%;
    margin-top: 1rem;
}

.login-form input{
    border: 1px solid #d1d5db;
    height: 3rem;
    text-indent: 1rem;
    box-shadow: 0px 1px 2px #0000000d;
    font-weight: 400;
}

.login-form>input:focus {
    outline: none;
}

.login-form>input:first-of-type {
    border-radius: 6px 6px 0px 0px;
}

.login-form>input:last-of-type {
    border-radius: 0px 0px 6px 6px;
    border-top: none;
}

.login-form>button {
    background-color: var(--btn);
    border: none;
    border-radius: 6px;
    height: 3.2rem;
    margin-top: 1.5rem;
    color: var(--white);
    font-weight: 600;
}

/*** Tablet view ***/

@media all and (min-width: 480px) and (max-width: 1024px) {

    /*** Home ***/
    .home-container {
        background: linear-gradient(0deg, #00000075, rgba(0, 0, 0, 0.46)), url("./assets/sm-home-img.jpg") no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .intro-title{
        line-height: 1.5em;
    }

    .intro-detail{
        line-height: 1.7em;
        font-size: 1.7em;
    }
/* 
    .home-container a{
        margin: 1rem;
    } */

    /*** Vans ***/

    .vans{
        background-color: var(--main);
    }

    .van-list{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        gap: 34px;
    }

    .van-container{
        max-width: 100%;
        padding: 0;
    }

    .van-container a:hover {
        text-decoration: none;
    }

    /*** Van detail ***/

    .van-detail{
        flex-direction: column;
        align-items: center;
    }

    .van-detail-img {
        max-width: 90%;
        max-width: 80%;
    }

    .van-price{
        margin-bottom: 1rem;
    }

    .van-detail-desc {
        max-width: 100%;
    }

    .van-detail a{
        margin: 2rem;
    }

    /*** Host's Van ***/

    .host-van-list{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap:0.5rem;
    }

    .listed-van {
        max-width: 95%;
        padding: 0;
    }

    .host-van-img{
        margin: 1rem;
    }

    .listed-van-info{
        margin: 1rem;
    }

    /*** About ***/

    .about-info{
        max-width: 80%;
    }

    /*** Login ***/

    .login-container{
        padding: 25% 0;
    }

    .login-form{
        max-width: 50%;
    }
}

@media all and (max-width: 480px) {

    /***  Header ***/
    .site-name{
        font-size: 1rem;
    }

    .nav-pages{
        justify-content: space-around;
    }

    .nav-menu{
        position: absolute;
        flex-direction: column;
        padding: 0;
        left: 0;
        width: 100%;
        margin-top: 2rem;
        text-align: center;
        background-color: var(--main);
        transition: 0.3s;
        z-index: 10;
    }

    .nav-pages{
        width: 100%;
    }

    .nav-item{
        margin: 16px 0; 
    }

    .profileImg{
        margin: 1rem;
    }

    /*** Home ***/

    .home-container{
    background: #579BB1;
    color: var(--white);
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

    .home-intro{
    font-size: 0.5em;
}    
}